*.iml
*.ipr
*.iws
.idea/
out/
.idea_modules/

settings.json
mup.json

atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
*.sh
*.tar.gz
*.bson
*.json
