<template name="admin">

    <h1>Admin</h1>
    {{#if currentUser}}

    <div class="row">
        <div class="col-xs-12 form-group">
            <label for="addEdition">Utgavenummer <span>*</span></label>
            <input class="form-control" id="addEdition" type="text" placeholder="YYYY-XX" />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-2 form-group">
            <label for="addPages">Sidetall <span>*</span></label>
            <input class="form-control"  id="addPages" type="text" placeholder="8, 9" />
        </div>
        <div class="col-xs-12 col-md-4 form-group">
            <label for="addTitle">Tittel <span>*</span></label>
            <input class="form-control"  id="addTitle" type="text" placeholder="Ostekake på Stripa" />
        </div>

        <div class="col-xs-12 col-md-6 form-group">
            <label for="addTitle">Skribent</label>
            <input class="form-control"  id="addAuthor" type="text" placeholder="Ola Nordmann" />
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-6 form-group">
            <label for="addLayout">Layout</label>
            <input class="form-control"  id="addLayout" type="text" placeholder="Kari Nordmann" />
        </div>

        <div class="col-xs-12 col-md-6 form-group">
            <label for="addPhoto">Foto</label>
            <input class="form-control"  id="addPhoto" type="text" placeholder="Mr. Photographerface" />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 form-group">
            <label for="addType">Spalte</label>
            <input class="form-control"  id="addType" type="text" placeholder="Gløsløken" />
        </div>

        <div class="col-xs-8 form-group">
            <label for="addTags">Tags</label>
            <input class="form-control"  id="addTags" type="text" placeholder="Tags" />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 form-group">
            <label for="addContent">Artikkelinnhold</label>
            <input class="form-control"  id="addContent" type="text" />
        </div>
    </div>

    <button type="submit" class="btn btn-default" id="new">Legg til</button>

    <p>Felt merket med <span class="red">*</span> er obligatoriske.</p>

    {{else}}
    <h3>Vennligst logg inn.</h3>
    {{/if}}

</template>
