<template name="admin">

    <h1>Admin</h1>
    {{#if currentUser}}

    <div class="form-group">
        <label for="addEdition">Utgavenummer <span>*</span></label>
        <input class="form-control" id="addEdition" type="text" placeholder="YYYY-XX" value="{{edition}}" />
    </div>

    <div class="form-group">
        <label for="addPages">Sidetall <span>*</span></label>
        <input class="form-control"  id="addPages" type="text" placeholder="8, 9" value="{{pages}}" />
    </div>

    <div class="form-group">
        <label for="addTitle">Tittel <span>*</span></label>
        <input class="form-control"  id="addTitle" type="text" placeholder="Ostekake på Stripa" value="{{title}}" />
    </div>

    <div class="form-group">
        <label for="addTitle">Skribent</label>
        <input class="form-control"  id="addAuthor" type="text" placeholder="Ola Nordmann"  value="{{author}}"/>
    </div>

    <div class="form-group">
        <label for="addLayout">Layout</label>
        <input class="form-control"  id="addLayout" type="text" placeholder="Kari Nordmann" value="{{layout}}" />
    </div>

    <div class="form-group">
        <label for="addType">Spalte</label>
        <input class="form-control"  id="addType" type="text" placeholder="Gløsløken" value="{{type}}" />
    </div>

    <div class="form-group">
        <label for="addTags">Tags</label>
        <input class="form-control"  id="addTags" type="text" placeholder="Tags"  value="{{tags}}"/>
    </div>

    <button type="submit" class="btn btn-default" id="new">Legg til</button>
    <button type="submit" class="btn btn-default" id="edit">Endre valgt</button>
    <button type="submit" class="btn btn-default" id="remove">Slett valgt</button>
    <button type="submit" class="btn btn-default" id="empty">Tøm alle felt</button>

    <p>Felt merket med <span class="red">*</span> er obligatoriske.</p>

    {{else}}
    <h3>Vennligst logg inn.</h3>
    {{/if}}

</template>