<template name="archive">

    <div class="row">
        <div class="col-sm-12">
            <h1>Arkiv</h1>
        </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
          <img class="img" src="2014-06.jpg" height="180" width="120"/>
      </div>
      <div class="col-sm-2">
          <img class="img" src="2014-06.jpg" height="180" width="120" />
      </div>
      <div class="col-sm-2">
          <img class="img" src="2014-06.jpg" height="180" width="120" />
      </div>
      <div class="col-sm-2">
          <img class="img" src="2014-06.jpg" height="180" width="120"/>
      </div>
      <div class="col-sm-2">
          <img class="img" src="2014-06.jpg" height="180" width="120" />
      </div>
      <div class="col-sm-2">
          <img class="img" src="2014-06.jpg" height="180" width="120" />
      </div>
    </div>

</template>