<template name="publications_year_row">

    <div class="row">
        <div class="col-sm-2">
            <img class="img" src="2014-06.jpg" height="180" width="120"/>
        </div>
        <div class="col-sm-2">
            <img class="img" src="2014-06.jpg" height="180" width="120" />
        </div>
        <div class="col-sm-2">
            <img class="img" src="2014-06.jpg" height="180" width="120" />
        </div>
        <div class="col-sm-2">
            <img class="img" src="2014-06.jpg" height="180" width="120"/>
        </div>
        <div class="col-sm-2">
            <img class="img" src="2014-06.jpg" height="180" width="120" />
        </div>
        <div class="col-sm-2">
            <img class="img" src="2014-06.jpg" height="180" width="120" />
        </div>
    </div>

</template>