<template name="publications_year_row">

    <div class="row">
        <div class="col-xs-6 col-md-4 col-lg-2">
            <a href="/utgaver/2014-06.pdf"><img class="img" src="2014-06.jpg" height="180" width="120"/></a>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-2">
            <a href="/utgaver/2014-06.pdf"><img class="img" src="2014-06.jpg" height="180" width="120"/></a>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-2">
            <a href="/utgaver/2014-06.pdf"><img class="img" src="2014-06.jpg" height="180" width="120"/></a>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-2">
            <a href="/utgaver/2014-06.pdf"><img class="img" src="2014-06.jpg" height="180" width="120"/></a>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-2">
            <a href="/utgaver/2014-06.pdf"><img class="img" src="2014-06.jpg" height="180" width="120"/></a>
        </div>
        <div class="col-xs-6 col-md-4 col-lg-2">
            <a href="/utgaver/2014-06.pdf"><img class="img" src="2014-06.jpg" height="180" width="120"/></a>
        </div>
    </div>

</template>