<template name="search" xmlns="http://www.w3.org/1999/html">

  <div class="row">
    <div class="form-group col-xs-12">
      <input type="text"
        id="searchField"
        class="form-control"
        placeholder="Søk etter skribenter, layoutansvarlige, artikkeltitler eller andre stikkord."
        value="{{searchText}}" autofocus/>
      <span class="help-block">{{article.length}} artikler funnet.</span>
    </div>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Utgave</th>
          <th>Side</th>
          <th>Title</th>
          <th>Skribent</th>
          <th>Layout</th>
          <th>Spalte</th>
          <th>Tags</th>
        </tr>
      </thead>
      <tbody>
        {{#each article}}
        <tr class="{{selectedClass}}">
          <td id="edition" contenteditable="{{loggedIn}}"><a href="{{url}}">{{edition}}</a></td>
          <td id="pages" contenteditable="{{loggedIn}}">{{pages}}</td>
          <td id="title" contenteditable="{{loggedIn}}">{{title}}</td>
          <td id="author" contenteditable="{{loggedIn}}">{{author}}</td>
          <td id="layout" contenteditable="{{loggedIn}}">{{layout}}</td>
          <td id="type" contenteditable="{{loggedIn}}">{{type}}</td>
          <td id="tags" contenteditable="{{loggedIn}}">{{tags}}</td>
        </tr>
      {{/each}}
      </tbody>
  </table>
  </div>
</template>
