<template name="search" xmlns="http://www.w3.org/1999/html">

  <div class="row">
    <div class="form-group col-xs-12">
      <input type="text" id="searchField" class="form-control" placeholder="Søketekst" autofocus/>
      <span class="help-block">Søk etter skribenter, layoutansvarlige, artikkeltitler eller andre stikkord.</span>
    </div>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Utgave</th>
          <th>Side</th>
          <th>Title</th>
          <th>Skribent</th>
          <th>Layout</th>
          <th>Spalte</th>
          <th>Tags</th>
        </tr>
      </thead>
      <tbody>
        {{#each article}}
        <tr class="{{selectedClass}}">
          <td><a href="{{url}}">{{edition}}</a></td>
          <td>{{pages}}</td>
          <td>{{title}}</td>
          <td>{{author}}</td>
          <td>{{layout}}</td>
          <td>{{type}}</td>
          <td>{{tags}}</td>
        </tr>
      {{/each}}
      </tbody>
  </table>
  </div>
</template>