html {
    overflow-y: scroll;
}
#search-field {
    padding: 0;
}
#main-table-wrapper {
    overflow-x: visible;
}
th {
    cursor: pointer
}
#th-edition {
    min-width: 70px;
}
#top {
    margin: 0;
    padding: 20px 60px;
    text-align: center;
}
#top > h1 {
    margin-top: 0;
}
a#login-name-link, a#login-sign-in-link {
    color: #9d9d9d;
    text-decoration: none;
}
a#login-name-link:hover, a#login-sign-in-link:hover {
    color: white;
}
.red, label span {
    color: red
}
.img-header {
    margin: auto;
}
.navbar {
    border-radius: 0;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}
@media (max-width: 767px) {
    #main-table-wrapper {
        overflow-x: auto;
    }
    .img-header {
      max-width: 100%;
    }
}
