html {
    overflow-y: scroll;
}
th {
    cursor: pointer
}
#th-edition {
    min-width: 70px;
}
#top {
    margin-top: 40px;
    margin-bottom: 40px;
}
.red, label span {
    color: red
}
.img-header {
    max-width: 100%;
    margin: auto;
}
.navbar {
    border-radius: 0;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}
